{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "DenyDisablingDetection",
      "Effect": "Deny",
      "Action": [
        "guardduty:DeleteDetector",
        "guardduty:DisassociateFromMasterAccount",
        "guardduty:UpdateDetector",
        "securityhub:DisableSecurityHub",
        "securityhub:DisassociateFromMasterAccount",
        "securityhub:BatchDisableStandards",
        "config:DeleteConfigurationRecorder",
        "config:DeleteDeliveryChannel",
        "config:StopConfigurationRecorder",
        "config:DeleteConfigRule",
        "config:DeleteOrganizationConfigRule",
        "access-analyzer:DeleteAnalyzer",
        "inspector2:Disable",
        "macie2:DisableMacie",
        "detective:DeleteGraph"
      ],
      "Resource": "*",
      "Condition": {
        "ArnNotLike": {
          "aws:PrincipalArn": "arn:aws:iam::*:role/${SecurityBreakGlassRole}"
        }
      }
    },
    {
      "Sid": "DenyDisablingAudit",
      "Effect": "Deny",
      "Action": [
        "cloudtrail:StopLogging",
        "cloudtrail:DeleteTrail",
        "cloudtrail:UpdateTrail",
        "cloudtrail:PutEventSelectors"
      ],
      "Resource": "*",
      "Condition": {
        "ArnNotLike": {
          "aws:PrincipalArn": "arn:aws:iam::*:role/${SecurityBreakGlassRole}"
        }
      }
    }
  ]
}
